
body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}
table {
	width: 100%;
	}

.datecolumn { width: 18% }	/* shrink date column? */
.actioncolum { width: 30% } /* stretch action colum */	
.showcolumn { width: 38% }
.radiocolumn { width: 23% } 	
	
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
  
}
tr.even {
  background-color: #fff;
  
}
td {
  padding: 5px; font-size: small; 
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: xx-small;}
img.print-logo {display: inline; 
	border: 0; 
	height: 90px; 
	width: 77px;  
	float: right;
	/*position:fixed;*/
	top:46px;
	right:35px;
	margin-bottom: 10px;
	}
.print-site_name {}
.print-breadcrumb {font-size: x-small;}
.print-title {}
.print-submitted {font-size: small;}
.print-created {font-size: small;}
.print-taxonomy {
  text-align: right;
}
.print-taxonomy li {display: inline;}
.print-content { width: 100%;}
.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #9E9E9E;
  background-color: #9E9E9E;
}
.print-message {
  border: medium dotted blue;
  padding: 1em;
}
.print-source_url {font-size: small;}
.print-links {font-size: small;}
.print-footer {text-align: center;}

.company-address {text-align: right; float: right; width: 200px; display:inline; top:30px; right:5px; margin-right: 20px;}
.company-header { height:170px; display: inline; background: #aeaeae;}
caption { text-align: left; }